<ng-container>
    <mat-tab-group>
        <mat-tab label="Rx">
            <div class="card" >
                <div class="card-body" *ngIf="initialiseFetch()"  >
                    <mat-accordion   *ngIf="show" >
                        <app-expansion-panel 
                            [(ExpansionPanelItemTitle$)]="ExpansionPanelItemTitle$"
                            [(ExpansionPanelItemQuantity$)]="ExpansionPanelItemQuantity$"
                            ></app-expansion-panel>
                     </mat-accordion>
                  
                     <div class="row">
                         <div class="col">
                                <button
                                *ngIf="show"
                                (click)="clearAll()"
                                 class="btn btn-danger ">
                                  clear all
                                </button>
                        </div>
                         <div class="col">
                                <button
                                *ngIf="show"
                                routerLink="/checkout"
                                 class="btn btn-primary ">
                                  click to proceed
                                  <span class="badge badge-light">
                                      {{ getTotalItems()}}
                                  </span>
                                </button>
                          
                         </div>
                         
                     </div>
                          
                           <ng-container #blankspace>

                           </ng-container>
                </div>
              </div>        
       </mat-tab>
     </mat-tab-group>
   
</ng-container>

<!--       
<p>
  {{getTotalItems()}}
</p>
<p >
{{item.title}}
</p>
-->