
<div class="container">
  <mat-card> 
      
      <div class="row">
      <div class="col">
        <mat-card>
            Doctor : {{user}}
        </mat-card>
         
        
      </div>
    </div>
<mat-card>
    <div class="row">
        
             <div class="col-4">
            
            <app-patient-detail-edit (patientDetailEdit)="HandlePatientDetail($event)"></app-patient-detail-edit>
            <button (click)="generateQr()"class="btn btn-primary" style="margin-top:10px;">
                Proceed
              </button>
            
     
      </div>
      <div class="col">
    
          <ng-container >
              <app-final-edittable ></app-final-edittable>
              </ng-container>
           
         
    </div>
  </div>
  </mat-card>
     
    
     </mat-card>
    </div>
  



