
<div class="container">
  <mat-card> 
      
      <div class="row">
      <div class="col">
        <mat-card>
           <h5>
            Doctor : {{user}}
           </h5> 
        </mat-card>
         
        
      </div>
    </div>
<mat-card>
    <div class="row">
        
             <div class="col">
            
            <app-patient-detail-edit (patientDetailEdit)="HandlePatientDetail($event)"></app-patient-detail-edit>
        
    
                <ng-container >
                    <app-final-edittable ></app-final-edittable>
                    </ng-container>
                 
               
        
            <button (click)="generateQr()"class="btn btn-primary" style="margin-top:10px;  text-align: right;">
                Proceed
              </button>
            
     
      </div>
 
  </div>

  </mat-card>
     
    
     </mat-card>
    </div>
  



