<div *ngIf="fetchItems()">
    <div class="container" *ngFor="let title of ExpansionPanelItemTitle$; let i = index">
         
                  <div class="row" >
                      <div class="col" >
                          {{ title }} 
                      </div>
                    
                       <div class="col">
                                    <button mat-icon-button (click) = "onSelect(title)">
                                        <mat-icon >add_circle_outline</mat-icon>
                                      </button>                                  
                   
                            <span class="badge badge-primary badge-pill">
                                {{ExpansionPanelItemQuantity$[i]}} 
                            </span>
                    
                            <button  mat-icon-button (click) = "OnDelete(title)">
                                    <mat-icon>remove_circle_outline</mat-icon>
                                </button>
                       </div>
                    </div>
           
  </div>
</div>
